@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    margin: 0;
    font-family: Varela Round, cursive;
}
#header-title{
    color: white;
    margin-left: 1rem;
}
.text-center{
    text-align: center;
}
nav{
    display: flex;
    background-color: #02A4FF;
    height: 8vh;
    margin-right: 1rem;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    justify-content: space-between;
}
.navitems{
    color: white;
    margin-right: 1.5rem;
}
#navigation{
    display: block;
    position: static;
    transition: all 1s linear;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#insta{
    color: #E1306C; 
}
#linkedin{
    color: #0077b5;
}
#github{
    color: #333;
}
.social-link{
    font-weight: 900;
    margin: 0 0.5rem;
}
a{
    text-decoration: none;
}
#navi-bar{
    display: none;
    margin-right: 1.5rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3rem;
}
#navi-bar:focus{
    outline: none;
}
@media only screen and (max-width:500px){
    #navi-bar{
        display: block;
    }
    #navigation{
        display: none;
        position: absolute;
        top: 7vh;
        right: 1rem;
        flex-direction: column;
        padding: 0.5rem 1rem 1rem 2rem;
        background-color: #02A4FF;
        border-radius: 0px 0px 25px 25px;
        
    }
    
    .navitems{
        margin-bottom: 0.5rem;
    }
}