@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    margin: 0;
    font-family: Varela Round, cursive;
}
#header-title{
    color: white;
    margin-left: 1rem;
}
nav{
    display: flex;
    background-color: #02A4FF;
    height: 8vh;
    margin-right: 1rem;
    align-items: center;
    border-radius: 0px 30px 30px 0px;
    justify-content: space-between;
}
.navitems{
    color: white;
    margin-right: 1.5rem;
}
#navigation{
    display: block;
    position: static;
}
a{
    text-decoration: none;
}
#navi-bar{
    display: none;
    margin-right: 1.5rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3rem;
}
#navi-bar:focus{
    outline: none;
}
@media only screen and (max-width:500px){
    #navi-bar{
        display: block;
    }
    #navigation{
        display: none;
        position: absolute;
        top: 8vh;
        right: 1rem;
        flex-direction: column;
        padding: 2rem;
        background-color: #02A4FF;
        border-radius: 0px 0px 30px 30px;
    }
}